<h1>About</h1>


<p>
  Olney Years is a beta project created by
  <%= link_to "Kem Higdon", "https://www.facebook.com/kem.higdon" %> to provide current and former Olney Friends School students and faculty a simple and fun means to share and communicate.  This site is in no way affiliated with the school itself.  Images, comments and opinions are the sole responsibility of the postee. 
</p>


 

