<div class="footer">
	<small>
		This site was created in conjuntion with the <%= link_to "One Month Rails", "http://onemonthrails.com" %> course by <%= link_to "Mattan Griffel", "http://mattangriffel.com" %> that endeavours to teach <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in one month.
	</small>
</div>